.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* width */
.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}

/* backgroundColor */
.bc-bl{
    background-color: blue;
}
.bc-g{
    background-color: gray;
}
.bc-w{
    background-color: white;
}

/* padding */
.p-t-20{
    padding-top: 20px;
}
.p-b-20{
    padding-bottom: 20px;
}
.p-l-20{
    padding-left: 20px;
}
.p-r-20{
    padding-right: 20px;
}
/* text */
.ta-c{
    text-align: center;
}
.ta-l{
    text-align: left;
}

/* border */
.bor-s{
    border-style: solid;
}

.bor-col-bl{
    border-color: blue;
}

/* margin */
.m-t-20{
    margin-top: 20px;
}
.m-b-20{
    margin-bottom: 20px;
}

.m-l-20{
    margin-left: 20px;
}
.m-r-20{
    margin-right: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}